Repository dcdpr/did-btc1-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, keypair, cryptosuite, method, cli, smt

Revert "@did-btcr2/keypair@0.6.0 - new class names and methods to better align to bip340"
  packages/keypair/package.json
Due: keypair

Revert "common@2.2.0, bitcoin@0.3.0, cryptosuite@3.2.0, method@0.16.0 - adjust to new keypair code"
  .github/workflows/ci.yml
  package.json
  packages/bitcoin/package.json
  packages/bitcoin/src/taproot.ts
  packages/common/package.json
  packages/common/src/types.ts
  packages/cryptosuite/package.json
  packages/cryptosuite/src/multikey/index.ts
  packages/cryptosuite/src/multikey/interface.ts
  packages/cryptosuite/tests/cryptosuite.spec.ts
  packages/cryptosuite/tests/data-integrity-proof.spec.ts
  packages/cryptosuite/tests/multikey.spec.ts
  packages/keypair/src/index.ts
  packages/keypair/src/pair.ts
  packages/keypair/src/public.ts
  packages/keypair/src/secret.ts
  packages/keypair/src/types.ts
  packages/keypair/tests/pair.spec.ts
  packages/keypair/tests/public.spec.ts
  packages/keypair/tests/secret.ts
  packages/method/package.json
  packages/method/src/core/beacon/aggregation/protocol/nostr.ts
  packages/method/src/core/crud/create.ts
  packages/method/src/core/crud/read.ts
  packages/method/src/core/crud/update.ts
  packages/method/src/core/key-manager/index.ts
  packages/method/src/core/key-manager/interface.ts
  packages/method/src/utils/identifier.ts
  packages/method/tests/create-deterministic.spec.ts
Due: common, keypair, cryptosuite, method

Revert "fix gh action"
  .github/workflows/ci.yml
Due: none

@did-btcr2/bitcoin@0.3.1 - fix console.error in json-rpc; rename mainnet to bitcoin
  packages/bitcoin/package.json
  packages/bitcoin/src/client/rpc/json-rpc.ts
  packages/bitcoin/src/constants.ts
  packages/bitcoin/src/types.ts
Due: none

@did-btcr2/keypair@0.7.0 - computePk returns object; fix tests
  packages/keypair/package.json
  packages/keypair/src/pair.ts
  packages/keypair/src/public.ts
  packages/keypair/src/secret.ts
  packages/keypair/tests/public.spec.ts
  packages/keypair/tests/secret.spec.ts
Due: keypair

@did-btcr2/method@0.17.0 - refactor due to kp changes; additions to did-doc; fix tests
  packages/method/lib/btcr2/create/external/new-inter.ts
  packages/method/lib/btcr2/create/external/once.ts
  packages/method/lib/btcr2/create/key/once.ts
  packages/method/package.json
  packages/method/src/core/beacon/aggregation/protocol/nostr.ts
  packages/method/src/core/crud/create.ts
  packages/method/src/core/crud/update.ts
  packages/method/src/did-btcr2.ts
  packages/method/src/index.ts
  packages/method/src/utils/did-document.ts
  packages/method/tests/create-deterministic.spec.ts
  packages/method/tests/create-external.spec.ts
Due: method

did-btcr2-js@3.0.5 - edit vp config; update GH action
  .github/workflows/deploy.yml
  docs/.vitepress/config.ts
  docs/index.md
  package.json
  packages/method/src/utils/did-document.ts
Due: method

@did-btcr2/api@0.1.0 - initialize base API class
  packages/api/build/esbuild-browser-config.cjs
  packages/api/package.json
  packages/api/src/api.ts
  packages/api/src/index.ts
  packages/api/tests/api.spec.ts
  packages/api/tests/index.spec.ts
Due: none

did-btcr2-js@3.0.6 - update vitepress config; add new deps to lock
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
Due: none

@did-btcr2/method@0.17.1 - update returns SignalsMetadata; use multikey.create
  packages/method/package.json
  packages/method/src/core/crud/update.ts
  packages/method/src/did-btcr2.ts
Due: method

@did-btcr2/common@2.2.1 - add NotImplementedError
  did-btcr2-js.code-workspace
  package.json
  packages/api/.c8rc.json
  packages/api/.mocharc.json
  packages/api/README.md
  packages/api/build/bundles.js
  packages/api/build/esbuild-browser-config.cjs
  packages/api/build/esbuild-tests.cjs
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/tests/index.spec.ts
  packages/api/tests/tsconfig.json
  packages/api/tsconfig.cjs.json
  packages/api/tsconfig.json
  packages/bitcoin/src/client/rest/address.ts
  packages/bitcoin/src/client/rest/block.ts
  packages/bitcoin/src/client/rest/index.ts
  packages/bitcoin/src/client/rest/transaction.ts
  packages/bitcoin/src/types.ts
  packages/common/package.json
  packages/common/src/errors.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typedoc.json
Due: common

@did-btcr2/cryptosuite@3.2.1 - rename static method multikey.initialize to .create
  packages/cryptosuite/package.json
  packages/cryptosuite/src/multikey/index.ts
Due: cryptosuite

move diagrams to root; update diagrams.md
  docs/diagrams.md
  docs/index.md
  docs/sequence/create/deterministic.mmd
  docs/sequence/create/external.mmd
  docs/sequence/resolve/main.mmd
  docs/sequence/update/invoke.mmd
  docs/sequence/update/main.mmd
  docs/sequence/update/singleton-beacon.mmd
Due: none

updates to the cli: create options
  packages/cli/src/cli.ts
Due: cli

Path conditions:
  common: any of: packages/common/**
  keypair: any of: packages/keypair/**
  cryptosuite: any of: packages/cryptosuite/**
  method: any of: packages/method/**
  cli: any of: packages/cli/**
  smt: any of: packages/smt/**
