Repository dcdpr/did-btc1-js: changes, and which Codecov flags are due for each by the changed paths.
All: common, keypair, cryptosuite, method, cli, smt

updating deploy.yml
  .github/workflows/deploy.yml
Due: none

@did-btcr2/method@0.14.2 - fix build bug
  packages/cryptosuite/src/multikey/index.ts
Due: cryptosuite

adjusting deploy action
  .github/workflows/deploy.yml
  docs/.vitepress/config.ts
Due: none

did-btcr2-js@3.0.2 - update docs GH website to use typedoc + vitepress
  packages/common/build/bundles.js
  packages/common/build/esbuild-browser-config.cjs
  packages/method/build/esbuild-browser-config.cjs
Due: common, method

@did-btcr2/method@0.14.3 - bumping version for browser build
  packages/method/package.json
Due: method

@did-btcr2/method@0.14.2 - fix build bug
  packages/method/build/esbuild-browser-config.cjs
Due: method

@did-btcr2/method@0.14.4 - including tinysecp in browser build
  packages/method/build/esbuild-browser-config.cjs
  packages/method/package.json
Due: method

@did-btcr2/method@0.14.4 - setup browser build without bitcoin clients
  packages/bitcoin/tests/bitcoin-browser.spec.ts
  packages/bitcoin/tests/bitcoin-node.spec.ts
  packages/bitcoin/tests/tsconfig.json
  packages/method/package.json
  packages/method/tests/create-deterministic.spec.ts
Due: method

@did-btcr2/method@0.14.4 - setup browser build without bitcoin clients
  .github/workflows/deploy.yml
  package.json
  packages/bitcoin/tests/bitcoin-browser.spec.ts
  packages/bitcoin/tests/bitcoin-node.spec.ts
  packages/bitcoin/tests/tsconfig.json
  packages/method/package.json
  packages/method/tests/create-deterministic.spec.ts
Due: method

did-btcr2-js@3.0.3 - updating deploy.yml to fix failing deploy
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

@did-btcr2/method@0.14.4 - setup browser build without bitcoin clients
  .github/workflows/deploy.yml
  package.json
Due: none

refactoring keypair to be compliant to BIP340
  packages/common/src/types.ts
  packages/keypair/package.json
  packages/keypair/src/index.ts
  packages/keypair/src/pair.ts
  packages/keypair/src/public.ts
  packages/keypair/src/secret.ts
  packages/keypair/src/types.ts
  packages/method/src/core/key-manager/index.ts
Due: common, keypair, method

@did-btcr2/method@0.14.5 @did-btcr2/bitcoin@0.1.1 - fix package.json for proper browser exporting
  packages/bitcoin/package.json
  packages/method/package.json
Due: method

method@0.14.6 bitcoin@0.1.2 - possible fix: reorg exports
  packages/bitcoin/package.json
  packages/method/build/esbuild-browser-config.cjs
  packages/method/package.json
Due: method

@did-btcr2/bitcoin@0.2.0 + @did-btcr2/method@0.15.0 - fixes coupling bitcoin to node packages
  packages/bitcoin/package.json
  packages/bitcoin/src/bitcoin.node.ts
  packages/bitcoin/src/bitcoin.ts
  packages/bitcoin/src/client/rest/address.ts
  packages/bitcoin/src/client/rest/block.ts
  packages/bitcoin/src/client/rest/index.ts
  packages/bitcoin/src/client/rest/transaction.ts
  packages/bitcoin/src/client/rpc/index.ts
  packages/bitcoin/src/client/rpc/interface.ts
  packages/bitcoin/src/client/rpc/json-rpc.ts
  packages/bitcoin/src/client/utils.ts
  packages/bitcoin/src/constants.ts
  packages/bitcoin/src/errors.ts
  packages/bitcoin/src/index.browser.ts
  packages/bitcoin/src/index.node.ts
  packages/bitcoin/src/index.ts
  packages/bitcoin/src/interface.ts
  packages/bitcoin/src/rest-client.ts
  packages/bitcoin/src/rpc-client.ts
  packages/bitcoin/src/types.ts
  packages/bitcoin/tests/bitcoin-browser.spec.ts
  packages/bitcoin/tests/bitcoin-node.spec.ts
  packages/bitcoin/tests/bitcoin.spec.ts
  packages/method/build/esbuild-browser-config.cjs
  packages/method/lib/btcr2/resolve/once.ts
  packages/method/package.json
  packages/method/src/core/beacon/singleton.ts
  packages/method/src/core/crud/read.ts
  packages/method/src/did-btcr2.ts
  packages/method/src/interfaces/crud.ts
  pnpm-lock.yaml
Due: method

@did-btcr2/bitcoin@0.2.1 - rename mainnet to bitcoin
  packages/bitcoin/package.json
  packages/bitcoin/src/bitcoin.ts
  packages/bitcoin/src/types.ts
Due: none

init api package
  did-btcr2-js.code-workspace
  package.json
  packages/api/.c8rc.json
  packages/api/.mocharc.json
  packages/api/README.md
  packages/api/build/bundles.js
  packages/api/build/esbuild-browser-config.cjs
  packages/api/build/esbuild-tests.cjs
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/tests/index.spec.ts
  packages/api/tests/tsconfig.json
  packages/api/tsconfig.cjs.json
  packages/api/tsconfig.json
  packages/bitcoin/src/client/rest/index.ts
  packages/bitcoin/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typedoc.json
Due: none

@did-btcr2/cli@0.2.0 + @did-btcr2/method@0.15.1 - fixes various leftover btc1 naming
  packages/cli/bin/btcr2.ts
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/tests/cli.spec.ts
  packages/method/package.json
  packages/method/src/core/beacon/cid-aggregate.ts
  packages/method/src/core/beacon/singleton.ts
  packages/method/src/core/crud/deactivate.ts
  packages/method/src/core/crud/read.ts
  packages/method/src/did-btcr2.ts
  packages/method/src/interfaces/crud.ts
  packages/method/src/types/crud.ts
  packages/method/src/utils/appendix.ts
  packages/method/src/utils/did-document-builder.ts
  packages/method/src/utils/did-document.ts
  packages/method/src/utils/identifier.ts
  packages/method/tests/create-deterministic.spec.ts
  packages/method/tests/create-external.spec.ts
Due: method, cli

btrc2/bitcoin - fix bad imports
  packages/bitcoin/src/client/rest/address.ts
  packages/bitcoin/src/client/rest/block.ts
  packages/bitcoin/src/client/rest/transaction.ts
Due: none

fix renaming keypair classes throughout
  packages/bitcoin/src/taproot.ts
  packages/common/src/types.ts
  packages/cryptosuite/src/multikey/index.ts
  packages/cryptosuite/src/multikey/interface.ts
  packages/keypair/src/pair.ts
  packages/keypair/src/public.ts
  packages/keypair/src/secret.ts
  packages/keypair/src/types.ts
  packages/method/src/core/beacon/aggregation/protocol/nostr.ts
  packages/method/src/core/crud/create.ts
  packages/method/src/core/crud/read.ts
  packages/method/src/core/crud/update.ts
  packages/method/src/core/key-manager/index.ts
  packages/method/src/utils/did-document.ts
  packages/method/src/utils/identifier.ts
Due: common, keypair, cryptosuite, method

keypair@0.5.2 - refactor for bip340 compliance; bitcoin@0.2.2, common@2.1.1, cryptosuite@3.1.1, method@0.15.2 - fix renaming keypair classes throughout
  packages/bitcoin/package.json
  packages/common/package.json
  packages/cryptosuite/package.json
  packages/keypair/package.json
  packages/method/package.json
Due: common, keypair, cryptosuite, method

Path conditions:
  common: any of: packages/common/**
  keypair: any of: packages/keypair/**
  cryptosuite: any of: packages/cryptosuite/**
  method: any of: packages/method/**
  cli: any of: packages/cli/**
  smt: any of: packages/smt/**
